<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pes.kneipenfinder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".find"
            android:label="@string/title_activity_find" >
        </activity>
        <activity
            android:name=".errorHanding"
            android:label="@string/title_activity_error_handing" >
        </activity>
        <activity
            android:name=".add"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name=".rate"
            android:label="@string/title_activity_rate" >
        </activity>
        <activity
            android:name=".search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".displayResults"
            android:label="@string/title_activity_display_results" >
        </activity>
        <activity
            android:name=".impressum"
            android:label="@string/title_activity_impressum" >
        </activity>
        <activity
            android:name=".socialMedia"
            android:label="@string/title_activity_social_media" >
        </activity>
        <activity
            android:name=".displayLocationDetailed"
            android:label="@string/title_activity_display_location_detailed" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
